---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Trajectory from "../components/Trajectory.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Rafael Moraes | Portfolio">
  <Header />
  <main>
    <Hero />
    <About />
    <Skills />
    <Trajectory />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
