<header class="header" id="header">
  <div class="header-inner">
    <a href="#hero" class="header-logo">Rafael Moraes</a>
    <nav>
      <ul class="header-nav">
        <li><a href="#hero">Início</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#trajectory">Trajetória</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
